@mixin mobile-only {
    @media screen and (max-width: calc(map-get($breakpoints, tablet) - 1px)) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}

@mixin grid-column($gap: 0) {
    display: grid;
    grid-template-rows: auto;
    gap: $gap;
}

@mixin flex-column($gap) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin absolute-cover {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

@mixin absolute-center {
    @include absolute-cover;
    margin: auto;
}

@mixin circle($value) {
    width: $value;
    height: $value;
    border-radius: 50%;
}

@mixin content-width($width: $content-width) {
    width: min-value($width, mobile);
    margin: 0 auto;

    @include tablet {
        width: min-value($width, desktop-large);
    }
}

@mixin border-radius($sides: all, $border-radius: $main-border-radius) {
    @if ($sides == top) {
        border-radius: $border-radius $border-radius 0 0;
    } @else if ($sides == right) {
        border-radius: 0 $border-radius $border-radius 0;
    } @else {
        border-radius: $border-radius;
    }
}

@mixin opacity-transition($duration: 0.5s, $easing: ease, $hover: true) {
    position: relative;

    @if ($hover) {
        &:hover {
            &::after {
                opacity: 1;
            } 
        }
    }

    &::after {
        @include absolute-cover;
        opacity: 0;
        transition: opacity $duration $easing;
    }
}

@mixin box-shadow($opacity: 0.2, $hover: true) {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,$opacity);

    @if ($hover) {
        cursor: pointer;
        transition: box-shadow 0.4s;

        &:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,$opacity);
        }
    }
}

@mixin text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@mixin icon {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}