.body {
    &--home {
        animation: hide 0.1s 4.5s both;
    }
}

.home {
    @include grid-column(0);
    padding-bottom: $main-padding-bottom;

    @include tablet {
        @include content-width;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "search description"
            "restaurants restaurants";
        column-gap: $main-gap;
        padding-top: $main-padding-top;
    }

    @include desktop {
        grid-template-columns: $side-panel 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: 
            "search restaurants"
            "description restaurants";
            gap: $main-gap-max;
    }
}

.search {
    text-align: center;

    @include tablet {
        @include border-radius;
        grid-area: search;
        background-color: #FFF;
    }

    @include desktop {
        height: fit-content;
    }

    &__location {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-template-areas: "icon input .";
        gap: 15px;
        padding: 15px 0;
        background-color: darken($grey, 5%);
        margin-bottom: 40px;

        @include tablet {
            @include border-radius(top);
        }

        .fa-location-dot {
            grid-area: icon;
            justify-self: end;
            color: darken($grey, 76%);
            transform-origin: 7px 6px;
            transition: all 0.35s ease-in-out;
        }
    }

    &__input {
        grid-area: input;
        width: to-rem(108px);
        border: none;
        background-color: inherit;

        &::placeholder {
            color: darken($grey, 76%);
            opacity: 1;
            font-weight: $font-weight-medium;
        }

        &:focus {
            outline: transparent;

            + .fa-location-dot {
                color: $primary-color;
                transform: scale(1.2);
            }
        }
    }

    &__heading {
        margin: 0 16% 15px;
    }

    &__text {
        margin: 0 $content-margin 30px;
        font-weight: $font-weight-light;

        @include tablet {
            margin-bottom: 60px;
        }
    }

    &__button {
        margin: 0 $content-margin 57px;

        @include desktop {
            margin-bottom: 60px;
        }
    }
}

.description {
    padding: 50px 0 68px;
    background-color: #FFF;

    @include tablet {
        @include border-radius;
        grid-area: description;
        padding: 20px 0 30px;
    }

    @include desktop {
        height: fit-content;
    }

    > * {
        @include content-width;
    }

    &__heading {
        margin-bottom: 30px;

        @include tablet {
            text-align: center;
        }
    }

    &__list {
        @include grid-column(25px);
        list-style: none;
        counter-reset: description;
    }

    &__item {
        @include border-radius;
        @include box-shadow;
        position: relative;
        display: grid;
        grid-template-columns: minmax(48px, 1fr) 178px 1fr;
        align-items: center;
        column-gap: 20px;
        width: calc(100% - 12px);
        height: to-rem(70px);
        margin-left: 12px;
        background-color: $grey;
        font-weight: $font-weight-medium;
        counter-increment: description;
        transition: all 0.4s;

        i {
            justify-self: end;
            width: to-rem(18px);
            color: darken($grey, 48%);
            transition: color 0.4s;
        }

        &:hover {
            background-color: lighten($primary-color, 36%);

            i {
                color: $primary-color;
            }
        }

        &::before {
            @include circle(24px);
            @include flex-center;
            content: counter(description);
            position: absolute;
            top: calc(50% - 12px);
            left: -12px;
            color: #FFF;
            background-color: $primary-color;
            font-size: 16px;
        }
    }
}

.restaurants {
    padding-top: $main-padding-top;
    text-align: left;

    @include tablet {
        grid-area: restaurants;
    }

    @include desktop {
        padding-top: 0;
    }

    > * {
        @include content-width;
        
        @include tablet {
            width: 100%;
        }
    }

    &__heading {
        margin-bottom: 25px;
    }

    &__list {
        @include grid-column(18px);

        @include tablet {
            grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
            gap: $main-gap;
        }

        @include desktop {
            gap: $main-gap-max;
        }
    }
}

.restaurant-card {
    @include border-radius;
    @include box-shadow;
    position: relative;
    width: 100%;
    margin: 0 auto;
    background-color: #FFF;

    &__link {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-areas: 
            "image image"
            "heading icon"
            "location .";
    }

    &__new {
        @include box-shadow($hover: false);
        position: absolute;
        top: 13px;
        right: 13px;
        padding: 8px 12px;
        border-radius: 2px;
        color: darken($tertiary-color, 50%);
        background-color: $tertiary-color;
        animation: pulse 3s ease-in-out infinite;
    }

    &__image {
        @include border-radius(top);
        grid-area: image;
        width: 100%;
        height: min-value(image-height(1), mobile);
        margin-bottom: 18px;
        object-fit: cover;
        object-position: bottom;

        &--position {
            object-position: center 61%;
        }

        @include tablet {
            height: image-height(2);
        }

        @media screen and (min-width: 1180px) {
            height: image-height(3);
        }

        @include desktop {
            height: image-height(2, $main-gap-max, calc($image-container-width - ($side-panel + $main-gap-max)));
        }

        @media screen and (min-width: 1675px) {
            height: image-height(3, $main-gap-max, calc(min-value($image-container-width, desktop-large) - ($side-panel + $main-gap-max)));
        }
    }

    &__heading {
        grid-area: heading;
        margin: 0 0 5px 12px;
    }

    .fa-heart {
        grid-area: icon;
        margin: 5px 24px 0;
        font-size: to-rem(24px);
    }

    &__location {
        grid-area: location;
        margin: 0 0 18px 12px;
        font-weight: $font-weight-light;
    }
}