.button {
    @include box-shadow;
    height: to-rem(50px);
    padding: 15px 20px;
    border: none;
    border-radius: to-rem(25px);
    color: #FFF;
    background: linear-gradient(175deg, $secondary-color 3%, $primary-color);
    font-weight: $font-weight-medium;
    filter: brightness(1);
    transition: box-shadow 0.4s, filter 0.35s;

    &:hover {
        filter: brightness(1.05);
    }
}