.button {
    @include box-shadow;
    height: to-rem(50px);
    padding: 15px 20px;
    border: none;
    border-radius: to-rem(25px);
    color: #FFF;
    background: linear-gradient(175deg, $secondary-color 3%, $primary-color);
    font-weight: $font-weight-medium;

    &:hover {
        background: linear-gradient(
            175deg,
            lighten($secondary-color, 3%) 3%, 
            lighten($primary-color, 3%)
        );
    }
}