.fa-heart {
    position: relative;
    color: darken($grey, 50%);
    cursor: pointer;

    &:hover {
        &::after {
            opacity: 1;
        } 
    }

    &::after {
        @include icon("\f004");
        @include absolute-cover;
        background: linear-gradient(175deg, $secondary-color 3%, $primary-color);
        background-clip: text;
        color: transparent;
        opacity: 0;
        transition: opacity 0.5s;
    }
}