.spinner {
    @include flex-center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    background-color: #FFF;
    animation: fade-out 0.5s 4.5s forwards;

    &__svg {
        width: min(50vw, 250px);
    }  
}

.group {
    transform-box: fill-box;
    transform-origin: 50% 50%;

    @for $i from 0 through 2 {
        &--#{$i} {
            @if ($i == 1) {
                animation-name: down;
            } @else {
                animation-name: up;
            }

            animation-duration: 2.4s;
            animation-delay: $i * 0.5s;
            animation-fill-mode: both;
            animation-iteration-count: infinite;
        }
    }
}