*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    display: grid;
    grid-template-rows: auto;
    min-height: 100vh;
    background-color: $grey;
    font-family: $body-font;
    font-size: to-rem(16px);
    box-sizing: border-box;

    @include desktop {
        grid-template-rows: auto 1fr auto;
    }
}

ul {
    list-style-type: none;
}

a {
    color: #000;
    text-decoration: none;
}

img {
    display: block;
}

button, input {
    font-size: to-rem(16px);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { 
    display: none;
}

fieldset {
    padding: 0;
    border: none;
}