.footer {
    padding: 25px 0 35px;
    color: #FFF;
    background-color: darken($grey, 76%);
    text-align: left;

    > * {
        width: min-value($content-width, desktop-large);
        padding: 0 5px;
        margin: 0 auto;
    }

    &__heading {
        margin-bottom: 20px;
        font-family: $heading-font;
        font-size: to-rem(18px);
    }
}

.nav {
    &__list {
        @include flex-column(to-rem(8px));
    }

    &__link {
        &--business {
            font-weight: $font-weight-medium;

            i {
                width: to-rem(20px);
                margin-right: to-rem(10px);
            }
        }

        a {
            color: #FFF;
        }
    }    
}