.footer {
    padding: 25px 0 35px;
    color: #FFF;
    background-color: darken($grey, 76%);
    text-align: left;

    > * {
        @include content-width; 
        padding: 0 5px;
    }

    &__heading {
        margin-bottom: 20px;
        font-family: $heading-font;
        font-size: to-rem(18px);
    }

    &--restaurant {
        @include mobile-only {
            > * {
                width: $content-width;
            }
        }
    }
}

.nav {
    &__list {
        @include flex-column(to-rem(8px));
    }

    &__link {
        a {
            color: #FFF;
        }

        &--business {
            font-weight: $font-weight-medium;

            i {
                width: to-rem(20px);
                margin-right: to-rem(10px);
            }
        } 
    }    
}