.header {
    position: relative;
    padding: 20px 0 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;

    &__heading {
        margin: 0;
        font-family: $heading-font;
    }
}